html,
body {
  font-weight: 300;
  letter-spacing: 0.5px;
}
img {
  width: 100%;
}
ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  float: left;
  line-height: 1.9;
}
ul a {
  padding: 0 32px;
  text-transform: capitalize;
  text-decoration: none;
  color: #5a5a5a;
  transition: color 0.3s;
}
ul a.active,
ul a:hover {
  color: #3d4f94;
}
.u-btn {
  border: none;
  padding: 8px 32px;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #fff;
  background-color: #e64f63;
  transition: background-color 0.5s;
}
.u-btn:hover {
  background-color: #f1a0ab;
}
.u-btn.u-btn-lg {
  padding: 10px 56px;
  font-size: 22px;
  font-weight: 300;
}
.u-btn.u-btn-lg:hover {
  background-color: #3d4f94;
}
.item {
  padding: 120px 0;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
#header #nav {
  padding: 20px 0;
  background-color: #fff;
}
#header .logo {
  float: left;
}
#header .logo div {
  display: inline-block;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #e64f63;
  transition: background-color 0.5s;
}
#header .logo div:before {
  content: "/";
  font-size: 15px;
  line-height: 28px;
  color: #fff;
}
#header .logo div:hover {
  background-color: #f1a0ab;
  cursor: pointer;
}
#header .logo a {
  position: relative;
  top: 8px;
  font-size: 32px;
  line-height: 0;
  color: #999;
  text-decoration: none;
}
#header .logo a span {
  color: #3d4f94;
}
#content p {
  margin: 0;
}
#content .title {
  margin: 0;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#content .info img {
  position: absolute;
  height: 100%;
}
#content .info p {
  margin-bottom: 72px;
}
#content .info .title {
  margin-bottom: 32px;
}
#content .slider {
  background-image: url(../img/cb2gn-vyqxv.jpg);
  padding: 240px 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
}
#content .main .title,
#content .main .subtitle {
  margin: 0;
  text-transform: capitalize;
  color: #f4f4f4;
}
#content .main .title {
  font-size: 88px;
  font-weight: 700;
  letter-spacing: 4px;
}
#content .main .subtitle {
  margin-top: 12px;
  margin-bottom: 24px;
  font-size: 32px;
  letter-spacing: 2px;
}
#content .our-services img {
  width: auto;
  left: 15px;
}
#content .our-team {
  background-color: #e4e7f6;
}
#content .our-team img {
  width: auto;
  right: 15px;
}
#content .our-clients .title,
#content .latest-articles .title {
  margin-bottom: 56px;
}
#content .our-clients .u-btn {
  margin-top: 56px;
}
#content .latest-articles {
  background-color: #f1f3fb;
}
#content .latest-articles .photo {
  border: 1px solid #fff;
}
#content .latest-articles .detail {
  padding: 32px;
  padding-bottom: 4px;
  background-color: #fff;
}
#content .latest-articles .detail p {
  display: inline-block;
  margin-top: 16px;
}
#content .latest-articles .detail a {
  color: #5a5a5a;
  text-decoration: none;
  transition: color 0.3s;
}
#content .latest-articles .detail a:hover {
  color: #3d4f94;
}
#content .latest-articles .detail .title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: none;
}
#content .latest-articles .detail .comment {
  border-top: 1px solid #ddd;
}
#content .latest-articles .detail .comment i,
#content .latest-articles .detail .comment a,
#content .latest-articles .detail .comment p {
  color: #999;
}
#content .latest-articles .detail .comment a {
  padding: 0 16px;
}
#content .latest-articles .detail .comment .like {
  float: right;
  line-height: 56px;
  color: #e64f63;
}
#content .contact-us .title {
  letter-spacing: 1px;
  text-transform: none;
}
#content .contact-us .u-btn {
  margin-top: 6px;
  float: right;
}
#footer {
  border-top: 1px solid #999;
  padding: 36px 0;
  background-color: #ececec;
}
#footer ul {
  float: none;
  text-align: center;
}
#footer ul a {
  padding: 0 16px;
  line-height: 1;
  font-size: 24px;
  color: #222;
}
#footer p {
  margin: 0;
  font-size: 14px;
  color: #5a5a5a;
}
#footer .footer-right {
  float: right;
}
